html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background: #fff;
}
body section {
  display: block;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body ul,
body li {
  margin: 0;
  padding: 0;
}
body h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
body h2 {
  font-family: Montserrat, sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  text-transform: uppercase;
}
body h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  font-weight: 400;
}
body h4 {
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
}
body p {
  line-height: 150%;
  font-family: Roboto, sans-serif;
  font-size: 0.9375em;
  color: #999;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration: none;
}
.bg-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}
.section-header {
  padding-top: 5.625em;
  text-align: center;
}
.section-header h3 {
  margin-bottom: 0.5em;
}
.section-header .line-red {
  margin: 2.5em auto 2.9375em auto;
}
.line-red {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 0 auto;
  background: #f38181;
}
/* Main Header Styles */
.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: Montserrat, sans-serif;
  color: #fff;
  background: transparent;
}
.main-header .header-wrapper {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
}
.main-header .header-wrapper .main-logo {
  float: left;
  font-weight: 700;
  font-size: 1.875em;
}
.main-header .header-wrapper .main-menu {
  float: right;
  text-align: center;
}
.main-header .header-wrapper .main-menu li {
  display: inline-block;
  padding: 0.75em 1.875em;
}
.main-header .header-wrapper .main-menu li a {
  padding-bottom: 0.75em;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875em;
}
.main-header .header-wrapper .main-menu li a:hover {
  color: #fce38a;
  border-bottom: 0.1875em solid #fce38a;
  transition: 0.1s;
}
.main-header .header-wrapper .main-menu li a span {
  font-size: 1.2em;
}
.main-header .header-wrapper .main-menu li:last-child {
  padding: 0.75em 0;
}
.main-header .header-wrapper .main-menu li:nth-child(6) a:hover,
.main-header .header-wrapper .main-menu li:last-child a:hover {
  border: none;
}
/* Section-1 Styles */
#section-1 {
  height: 38em;
  color: #fff;
  background-color: #222;
}
#section-1 .content-slider {
  position: relative;
  width: 100%;
  height: 100%;
}
#section-1 .content-slider input {
  display: none;
}
#section-1 .content-slider .slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
#section-1 .content-slider .slider .banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s ease;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper {
  height: 100%;
  padding-top: 6em;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  box-sizing: border-box;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
  padding-bottom: 0.3em;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 2.5em;
  text-transform: none;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
  font-size: 6em;
  line-height: 95%;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 2.5em auto;
  background: #fff;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
  padding-bottom: 5em;
  z-index: 15 !important;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
  padding: 0.5em 2em;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  color: #fff;
  text-transform: uppercase;
  border: 0.1875em solid #fff;
}
a{
  outline: none;
  color: #fff;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  color: #e88382;
  border-color: #e88382;
  transition: 0.3s;
}
#section-1 .content-slider nav {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  z-index: 10;
  text-align: center;
}
#section-1 .content-slider nav .controls {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
}
#section-1 .content-slider nav .controls label {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 3.1em;
  overflow: hidden;
  margin: 0 1em;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: #f6eac5;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
#section-1 .content-slider nav .controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #f6eac5;
  z-index: 100;
}
#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: #e88382;
}
#section-1 .content-slider nav .controls label span {
  font-size: 1.4em;
  font-weight: 700;
}
#section-1 .content-slider nav .controls label:hover {
  color: #e88382;
}
#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #fff;
  transition: all 0.5s;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
  background: #fff;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 5s linear;
}
/* Animations */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
/* Media Queries */
@media only screen and (min-width: 1920px) {
  body {
    font-size: 22px;
  }
  .main-header .header-wrapper {
    width: 57%;
  }
  #section-1 {
    height: 46em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 12em;
  }
}
@media only screen and (max-width: 1919px) {
  body {
    font-size: 20px;
  }
  .main-header .header-wrapper {
    width: 60%;
  }
  #section-1 {
    height: 43em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 11em;
  }
}
@media only screen and (max-width: 1680px) {
  body {
    font-size: 18px;
  }
  .main-header .header-wrapper {
    width: 65%;
  }
  #section-1 {
    height: 40em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 9em;
  }
}
@media only screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
  .main-header .header-wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 1120px) {
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 1.4em;
  }
  #section-1 {
    height: 35em;
  }
  #section-1 .content-slider nav {
    bottom: -0.2em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 7em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 2em auto;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 1.3em;
  }
  #section-1 .content-slider nav {
    bottom: 0;
  }
  #section-1 .content-slider nav .controls {
    width: 80%;
  }
}
@media only screen and (max-width: 860px) {
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 0.9em;
  }
  #section-1 {
    height: 29em;
  }
  #section-1 .content-slider nav {
    bottom: -1em;
  }
  #section-1 .content-slider nav .controls {
    width: 90%;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 2em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 4.5em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 5em;
  }
}
@media only screen and (max-width: 768px) {
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 0.5em;
  }
  #section-1 {
    height: 27em;
  }
  #section-1 .content-slider nav .controls {
    width: 100%;
  }
  #section-1 .content-slider nav .controls label {
    width: 19%;
    font-size: 0.8em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 1.7em auto;
  }
}
@media only screen and (max-width: 650px) {
  .main-header .header-wrapper {
    width: 95%;
  }
}
@media only screen and (max-width: 480px) {
  .main-header .header-wrapper {
    width: 97%;
  }
  .main-header .header-wrapper .main-logo {
    display: none;
  }
  .main-header .header-wrapper .main-menu li {
    padding: 0.2em 0.3em;
  }
  .main-header .header-wrapper .main-menu li:last-child,
  .main-header .header-wrapper .main-menu li:nth-child(6) {
    padding: 0.2em 0.7em;
  }
  #section-1 {
    height: 26em;
  }
  #section-1 .content-slider nav {
    bottom: -0.5em;
  }
  #section-1 .content-slider nav .controls label {
    width: 40%;
    font-size: 0.7em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 1.5em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 3em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 1.7em auto;
  }
}
/* Section-2 Styles */
#section-2 .principale{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: inherit;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));

}
#section-2 h2 {
  padding:2%;
  text-align: center;
  
}
section .presentation{
  width: 50rem;
  border-top: solid;
}
#section-2 p {
  margin: 3%;

}
#section-2 .qualite img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1%;
}
#section-2 .qualite {
  display: flex;
  flex-direction: column;
  width: 68rem;
  border-top: solid;
  
}
#section-2 .qualiteap {
  display: flex;
  flex-wrap: wrap;
}

#section-2 .organiser {
  width: fit-content;
  height: 15rem;
  margin-left: 8%;
  text-align: center;
}
#section-2 .organiser  p{
  color: #fff;
}
#section-2 .titre {
  width: auto;
  height: fit-content;
}
.formations p {
  color: #6b6b6b;
}
/*skill bar*/
.development_title {
  text-align: center;
  margin-top: 20%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.skills-bar-container {
  position: relative;
  margin: 0 auto;
  width: 40%;
  min-width: 350px;
  top: 40%;
  transform: translate(-50%, -50%) s;
  list-style: none;
  margin-bottom: 25px;
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 15px 15px;
}

.progressbar-title {
  color: #FF6347;
}
.progressbar-title h3 {
  display: inline-block;
  position: relative;
  top: -5px;
  color: #888;
}
.progressbar-title .percent {
  position: absolute;
  right: 2px;
  top: 30px;
}

.bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 10px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: -15px;
}
.bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.progresstomatoes {
  background: #FF6347;
}

#progress-html {
  animation-name: progress-html;
  animation-delay: 0.7s;
}

#progress-css {
  animation-name: progress-css;
  animation-delay: 1.4s;
}

#progress-javascript {
  animation-name: progress-javascript;
  animation-delay: 2.1s;
}

#progress-php {
  animation-name: progress-php;
  animation-delay: 2.8s;
}

#progress-wordpress {
  animation-name: progress-wordpress;
  animation-delay: 3.5s;
}

#progress-bootstrap {
  animation-name: progress-bootstrap;
  animation-delay: 4.2s;
}

#progress-laravel {
  animation-name: progress-laravel;
  animation-delay: 4.9s;
}

@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-ms-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-ms-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-ms-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-ms-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-webkit-keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-moz-keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-ms-keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes progress-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes progress-wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-moz-keyframes progress-wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-ms-keyframes progress-wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-wordpress {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-webkit-keyframes progress-laravel {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@-moz-keyframes progress-laravel {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@-ms-keyframes progress-laravel {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@keyframes progress-laravel {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  #section-2 .principale {
    flex-direction: column;
    height: auto;
  }
  
  section .presentation {
    width: auto;
  }
  
  #section-2 .qualite {
    width: auto; 
    border: none;
  }
  
  #section-2 .qualite img {
    width: 5rem; 
    height: 5rem;
  }
  .qualite .titre {
    max-width: 90%; 
    max-width: 90%; 
    max-width: 90%; 
    margin: 0 auto; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  .skills-bar-container {
    width: 80%; 
    min-width: auto; 
    top: auto; 
    transform: none; 
    margin-top: 20px; 
  }
  .progressbar-title .percent {
    top: 20px; 
  }
}

/*section 3 style*/

#section-3 .projet{
  display: flex;
  flex-wrap: wrap;
  height: 50em;
  width: 100%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
}

#section-3 .projet h2{
width: 110rem;
text-align: center;
}

#section-3 p {
  margin: 3%;
}

#section-3 .projet2{
  display: flex;
  flex-wrap: wrap;
}



#section-3 .projet2 div{
  height: fit-content;
  width: fit-content;
  text-align: center;
  font-size: larger;
  border: solid;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #646464;
  margin-left: 15rem;
}

#section-3 .projet img {
  width: 20rem;
  height: 20rem;
  transition: width 0.3s;
  margin-bottom: 1%;
}


#section-3 .projet img:hover {
  width: 25rem;
  height: 25rem;
}

@media only screen and (max-width: 600px) {
  #section-3 .projet {
    height: auto;
    width: auto;
    padding: 20px;
  }
  
  #section-3 .projet h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  #section-3 .projet2 div {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 0;
  }
  #section-3 .projet img:hover {
    width: 20rem;
    height: 20rem;
}
}
@media only screen and (max-width: 950px) {
  #section-3 .projet {
    height: auto;
    width: auto;
    padding: 20px;
  }
  
  #section-3 .projet h2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  #section-3 .projet2 div {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 0;
  }
  #section-3 .projet img:hover {
    width: 20rem;
    height: 20rem;
}
}